@import './var/colors.scss';

.setting-section {
    margin: 10px;

    legend {
        font-weight: bold;
        font-size: 14px;
    }

    .setting-message {
        display: none;
        margin: 10px 0 5px 0;
        font-weight: bold;

        &.show { display: block; }
        &.error { color: $color-text-error; }
        &.success { color: $color-text-success; }
    }

    label {
        font-weight: bold;
    }

    input {
        padding: 3px 5px;
        border-radius: 2px;
        border: 1px solid $color-border;

        &[type="number"] {
            width: 50px;
        }
    }

    button{
        padding: 5px 10px;
        border-radius: 2px;
        transition: .2s;
        font-weight: bold;
        background-color: $color-button-default;
        border: 1px solid darken($color-button-default, 20%);

        &[type="submit"] {
            color: $color-white;
            background-color: $color-button-submit;
            border: 1px solid darken($color-button-submit, 20%);

            &:hover {
                background-color: lighten($color-button-submit, 10%);
            }
        }

        &.login-data-clear {
            color: $color-white;
            background-color: $color-button-delete;
            border: 1px solid darken($color-button-delete, 20%);

            &:hover {
                background-color: lighten($color-button-delete, 10%);
            }
        }

        &:hover {
            transition: .2s;
        }

    }

    .form-row {
        margin: 10px 0;
    }
}
