{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "webextensions": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "quotes": [1, "single", { "allowTemplateLiterals": true }],
        "no-console": 0
    }
}
